
<ion-content>
  <div class="login-body">
    <div class="login-content container col-sm-8">
            <h5 class="mt-4">Login</h5>
            <h6 class="mt-5">Have an Account?</h6>
            <div class="col-sm-8"  style="margin-left: auto; margin-right: auto;">
              <form [formGroup]="logindata" (ngSubmit)="submit(logindata)">
                  <input class="login-input col-12 mt-3" formControlName="username" placeholder="Username:">
                  <p class="input-error col-12 text-danger"*ngIf="username?.invalid && username?.touched">username is required</p>
                  <input class="login-input col-12 mt-3 mb-3" type="password" s formControlName="password" placeholder="Password:">
                  <p class="input-error col-12 text-danger" *ngIf="password?.invalid && password?.touched">password is required</p>
                  <div class="col-12" >
                    <ion-button expand="block"  class="lg_btn" (click)="submit(logindata)">
                      <ion-icon name="log-in-outline" slot="start"></ion-icon>
                      Login
                    </ion-button>
                      <!-- <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner> -->
                  </div>
                 
                  <div class="row mt-3">
                    <p class="col-5 lg-ch"><input type="checkbox" name="rememberMe" class="mr-2"  (click)="doAction($event)">Remeber Me</p>
                    <a href="#"  class="col-7 forgot-password">forgot password?</a>                 
                </div>
                <div class="col-12 signin_btn">
                  <p>-- Or Sign in with --</p>
                </div>
                <div class="col-12 mb-4">
                    <ion-button><ion-icon name="logo-facebook" slot="start"></ion-icon>Facebook</ion-button> 
                    <ion-button ><ion-icon name="logo-google" slot="start"></ion-icon>Gmail</ion-button>
                </div>
              </form>
        </div>   
    </div>
</div>
</ion-content>
